@page
@model TiendaBicicleta.Web.Pages.RegistroVentas.MostrarVentasModel
@{
}

<h1 class="text-center">Registro de ventas</h1>

<a class="btn btn-lg btn-info text-white" asp-page="/RegistroVentas/CrearRegistro"><i class="fas fa-plus-square"></i> Registrar una nueva venta</a>
<br />
<br />
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Id de registro</th>
            <th>Id del cliente</th>
            <th>Id de la bicicleta</th>
            <th><i class="fas fa-cog"></i> Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RegistroVentas)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ClienteId</td>
                <td>@item.InventarioBicicletaId</td>
                <td>
                    <div style="display: flex; justify-content: space-between;">
                        <a class="btn btn-sm btn-success"  asp-area="" asp-page="/RegistroVentas/EditarRegistro" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Editar</a>
                        <a class="btn btn-sm btn-danger"  asp-area="" asp-page="/RegistroVentas/EliminarRegistro" asp-route-id="@item.Id"><i class="fas fa-trash"></i> Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>